.boards {
    width: auto;
    padding: 24px;
}

.cdk-drag-placeholder {
    opacity: .2;
    width: 350px;
    border: 5px dashed gray;
    margin: 0 10px;
}

.cdk-drag-animating, .cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
}